<hr>
<br />
<br />

<div class="container">
  <div class="row" style="margin: 0 -1em;">
    <div class="col s12 m6">
      <%- include('user'); %>
    </div>
    <div class="col s12 m6">
      <%- include('my-session'); %>
    </div>
  </div>
</div>

<br />
