
<br />
<br />
<br />
<br />
<hr>
<div class="container">
  <div class="row" style="margin: 0 -1em;">
    <div class="col s12 m5">
      <h6>About us</h6>
      <p>
        <a href="https://underwind.solutions">underwind.solutions</a> was formed in 2023 as a software agency for generating fair source products.
      </p>
      <p>
        <a href="https://subvind.com">subvind.com</a> and everything under the -nomy branding are products made by us.
      </p>
      <p>
        <a href="https://istrav.com">istrav.com</a> is where you may find our coding community. Plus, documentation about our µSaaS Modules, our developer API, and our client area.
      </p>
      <p>
        Pricing starts at $19/month! (<a href="https://demo.subvind.com">demo</a>)
      </p>
    </div>
    <div class="col s12 m7" style="text-align: right;">
      <h6 style="text-align: right;">µSaaS Modules</h6>
      <a href="https://home.getnomy.com" class="nav">nomy.HOME</a><br />
      <a href="https://erp.getnomy.com" class="nav">nomy.ERP</a><br />
      <a href="https://tube.getnomy.com" class="nav">nomy.TUBE</a><br />
      <a href="https://desk.getnomy.com" class="nav">nomy.DESK</a><br />
      -> <a href="https://ims.getnomy.com" class="nav">nomy.IMS</a><br />
    </div>
  </div>
</div>
<hr>
<div class="container">
  <a href="https://underwind.solutions/terms-and-conditions" class="nav hide-on-med-and-down">Terms & Conditions</a>
  <a href="https://underwind.solutions/privacy-policy" class="nav hide-on-med-and-down">Privacy Policy</a>
  <h3 class="logo">nomy.IMS</h3>
</div>
<hr>
<div class="container">
  <div id="copyright">
    <script>
      document.getElementById('copyright').innerHTML = window.location.hostname + ' © ' + new Date().getFullYear();
    </script>
  </div>
  <p style="margin: 0;">
    powered by <a href="https://subvind.com">subvind</a>
  </p>
</div>
<br />

<style>
  .logo {
    margin: 0;
  }
  .nav {
    margin: 0 0 0 1em;
    float: right;
    color: #333;
    text-decoration: underline;
  }
  .nav:hover {
    text-decoration: none;
    background: #1a95e0;
    color: #fff;
  }
</style>