<header>
  <div class="container" style="margin-bottom: -0.4em;">
    <div class="right" style="line-height: 2.4em;">
      made by <a href="https://underwind.solutions" style="text-decoration: underline;">underwind.solutions</a>
    </div>
    <a href="https://getnomy.com" class="logo">
      <i class="material-icons tiny left" style="line-height: 2.5em;">dashboard</i> 
      <span style="line-height: 2.4em;">
        getnomy.com
      </span>
    </a>
  </div>

  <hr>
  <div style="text-align: center;">
    <h4 style="margin: 0;">
      <a href="/" class="title">
        Instant Messenger Software:
      </a>
    </h4>
    <p style="margin: 0;">Built in NestJS & HTMX!</p>
  </div>
  <hr style="margin-bottom: 0;">
</header>

<style>
  header {
    background: #aaa;
  }

  header hr {
    border-top: 1px solid #777;
    border-bottom: 0;
  }

  header a {
    color: #000;
  }

  header .logo {
    color: #333;
  }
  header .logo :hover {
    color: #000;
  }

  header .title {
    color: #333;
  }
  header .title:hover {
    color: #000;
  }
</style>