<header>
  <div class="container" style="margin-bottom: -0.4em;">
    <div class="right" style="line-height: 2.4em;">
      made by <a href="https://underwind.solutions">underwind.solutions</a>
    </div>
    <a href="https://getnomy.com" class="logo">
      <i class="material-icons tiny left" style="line-height: 2.5em;">dashboard</i> 
      <span style="line-height: 2.4em;">
        getnomy.com
      </span>
    </a>
  </div>

  <hr>
  <div style="text-align: center;">
    <h4 style="margin: 0;">
      <a href="/" class="title">
        Instant Messenger Software:
      </a>
    </h4>
    <p style="margin: 0;">Built in NestJS & HTMX!</p>
  </div>
  <hr>
  <br />

  <div class="container">
    <h1 style="margin: 0;">
      IMS module <br /> for communities
    </h1>
    <br />
    <h4 style="margin: 0;">
      Easily host a peer 2 peer chat service. Instantly accept and receive personal messages over websockets and via notifications when offline. No code needed.
    </h4>
    <br />
    <p style="margin: 0;">IMS is a system that optimizes the flow of</p>
    <button 
      hx-get="/peers"
      hx-target="#main-result"
      hx-swap="innerHTML"
      class="btn black btn-large waves-effect waves-light"
    >
      <i class="material-icons left">person</i>peers
    </button>
    <button 
      hx-get="/channels" 
      hx-target="#main-result" 
      hx-swap="innerHTML" 
      class="btn black btn-large waves-effect waves-light"
    >
      <i class="material-icons left">markunread_mailbox</i> channels
    </button>
    <button 
      hx-get="/messages" 
      hx-target="#main-result" 
      hx-swap="innerHTML" 
      class="btn black btn-large waves-effect waves-light"
    >
      <i class="material-icons left">mail</i> messages
    </button>
    <p style="margin: 0;">within a community.</p>
  </div>

  <br />
  <br />
  <hr>

</header>

<style>
  header .logo {
    color: #333;
  }
  header .logo :hover {
    color: #000;
  }

  header .title {
    color: #333;
  }
  header .title:hover {
    color: #000;
  }
</style>