<div class="container" style="margin-bottom: -0.4em;">
  <div class="right" style="line-height: 2.4em;">
    made by <a href="https://underwind.solutions">underwind.solutions</a>
  </div>
  <a href="#">
    <i class="material-icons tiny left" style="line-height: 2.5em;">menu</i> 
  </a>
  <div style="line-height: 2.4em;">
    isTrav Subvind
  </div>
</div>

<hr>
<div style="text-align: center;">
  <h4 style="margin: 0;">Instant Messenger:</h4>
  <p style="margin: 0;">Built in NestJS & HTMX!</p>
</div>
<hr>