<div class="underheader">
  <div style="text-align: center;">
    <h4 style="margin: 0; padding: 0.2em 0 0;">
      <a href="/" class="title">
        Instant Messenger Software:
      </a>
    </h4>
    <p style="margin: 0;">Built in NestJS & HTMX!</p>
  </div>
  <hr style="margin-bottom: 0;">
</div>

<style>
  .underheader {
    background: #aaa;
  }

  .underheader hr {
    border-top: 1px solid #777;
    border-bottom: 0;
  }

  .underheader a {
    color: #000;
  }

  .underheader .logo {
    color: #333;
  }
  .underheader .logo :hover {
    color: #000;
  }

  .underheader .title {
    color: #333;
  }
  .underheader .title:hover {
    color: #000;
  }
</style>