<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%- title %></title>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <style>
    body {
      background-color: #eee;
    }

    .result {
      border: 5px dashed #eee;
      padding: 1em;
    }
    .title {
      border: 1px solid #000;
      font-size: 1.5em;
      position: absolute; 
      top: -0.9em; 
      left: 1em; 
      background-color: #aaa;
      padding: 0 0.5em;
    }
    .card {
      border: 1px solid #000;
      position: relative;
      background: #fff;
    }
  </style>
</head>
<body>
  <a href=""></a>
  <br />
  <%- include('header'); -%>
  
  <div style="text-align: center;">
    <a href="/sessions" class="btn black"><i class="material-icons left">person</i>sessions</a>
    <a href="/channels" class="btn black"><i class="material-icons left">markunread_mailbox</i> channels</a>
    <a href="/messages" class="btn black"><i class="material-icons left">mail</i> messages</a>
  </div>
  
  <br />
  <br />
  <div class="container">
    <!-- create machine -->
    <div class="card">
      <span class="title">New Channel</span>
      <br />
      <div class="row">
        <div class="col s12 m6">
          <form hx-post="/broadcast" hx-target="#new-channel-result" hx-swap="innerHTML" hx-trigger="submit">
            <p style="margin: 0;">channel:</p>
            <input type="text" name="channel" placeholder="bravo" required>
            <br />
            <br />
            <p style="margin: 0;">rotor settings:</p>
            <textarea class="materialize-textarea" placeholder="['F.12', 'A.1', 'C.33', 'Z.99']" required></textarea>
            <br />
            <button type="submit" class="btn">Submit</button>
          </form>
          <br class="hide-on-med-and-up" />
        </div>
        <div class="col s12 m6">
          <div class="result" id="new-channel-result">
            Result will be displayed here
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />

  <%- include('button'); -%>
  <!-- <div id="chat-button" hx-get="/button">test</div> -->

  <!-- Include htmx -->
  <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>
</body>
</html>
