<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%- title %></title>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <style>
    body {
      background-color: #eee;
    }
  </style>
</head>
<body>
  <nav></nav>
  <p>im</p>

  <script>
    document.body.addEventListener('htmx:load', function (event) {
      // check localstorage for session
      // if session exists then allow a user to login
      // if session does not exist then create one
    });
  </script>

  <!-- Include htmx -->
  <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>

  <!-- main -->
  <script>
    document.addEventListener('htmx:configRequest', function (event) {
      var token = '123'; // getJWTToken(); // Implement this function to retrieve the JWT token
      if (token) {
        event.detail.headers['Authorization'] = 'Bearer ' + token;
      }
    });
  </script>
</body>
</html>