<div class="card">
  <span class="title">What is IMS?</span>
  <br />
  <div class="row">
    <div class="col s12">
      <br />
      <p style="margin: 0;">IMS is a system that optimizes the flow of</p>
      <h4 style="margin: 0;">sessions, channels, and messages</h4>
      <p style="margin: 0;">in an organization.</p>
    </div>
  </div>
</div>

<style>
  .result {
    border: 5px dashed #eee;
    padding: 1em;
  }
  .title {
    border: 1px solid #000;
    font-size: 1.5em;
    position: absolute; 
    top: -0.8em; 
    left: 0.5em; 
    background-color: #aaa;
    padding: 0 0.5em;
  }
  .card {
    border: 1px solid #000;
    position: relative;
    background: #fff;
  }
</style>