<div class="card">
  <span class="title">What is a Tenant?</span>
  <br />
  <div class="row">
    <div class="col s12">
      <p style="margin: 0;">This is a person that is resposible for running a community within getnomy.com. Their job may include but is not limited to setting up one of every or multiple of our µSaaS modules and connecting them all together. That way communities can pick and choose which services they want and don't want. That is why data is stored under tenant silos. Thus data may only be accessed with a provided tenant id.</p>
      <br />
      <p style="margin: 0;">So it is both a person and a silo of information that is accessable by some id. To get started create a new tenant below.</p>
    </div>
  </div>
</div>

<style>
  .result {
    border: 5px dashed #eee;
    padding: 1em;
  }
  .title {
    border: 1px solid #000;
    font-size: 1.5em;
    position: absolute; 
    top: -0.8em; 
    left: 0.5em; 
    background-color: #aaa;
    padding: 0 0.5em;
  }
  .card {
    border: 1px solid #000;
    position: relative;
    background: #fff;
  }
</style>