<br />
<div class="card">
  <span class="title">New Channel</span>
  <br />
  <div class="row">
    <div class="col s12 m6">
      <form 
        hx-post="/channels"
        hx-target="#channel-created"
        hx-swap="innerHTML"
        hx-trigger="submit"
      >
        <p style="margin: 0;">slug:</p>
        <input type="text" name="slug" placeholder="bravo" required>
        <br />
        <p style="margin: 0;">description:</p>
        <textarea class="materialize-textarea" name="description" placeholder="we talk about bravo" required></textarea>
        <br />
        <button type="submit" class="btn black btn-small">Submit</button>
      </form>
      <br class="hide-on-med-and-up" />
    </div>
    <div class="col s12 m6">
      <div class="result" id="channel-created">
        Result will be displayed here.
      </div>
    </div>
  </div>
</div>

<style>
  .result {
    border: 5px dashed #eee;
    padding: 1em;
  }
</style>